    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="logo">Shalini RD</h1>
                    <h1 class="sublogo">Nutrition Consulting</h1>
                </div>
            </div>
        </div>
        <div class="headline">
            <div class="container">
                <h1>Win the Food Fight</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>About Me</h2>
                <p style="font-size: 20px">Shalini is a registered dietitian practicing in the health and fitness industry for 10 years. Her areas of focus are eating disorders, post weight-loss surgical maintenance, disease prevention and management, and general health and wellness. Shalini strives to approach each client with a positive, non-judgemental attitude to achieve optimal results, leading to a healthy and happy life!</p>
                <br>
                <p style="font-size: 20px">Shalini is currently accepting new patients; contact her for a free consultation.</p>
            </div>
            <div class="col-sm-4" style="font-size: 20px">
                <h2>Contact Me</h2>
                <address>
                    <strong>Shalini Luthra MS, RD, LDN</strong>
                    <br>Boston, MA

                    <br>
                </address>
                <address>
                    (617) 971-8331
                    <br>
                    <a href="mailto:shalini.ms.rd@gmail.com">shalini.ms.rd@gmail.com</a>
                    <br>
                    <a href="https://www.twitter.com/shalinird">@shalinird</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class = "three-well"
        <div class="row" style="font-size: 20px" >
            <div class="col-sm-4" >
                <img class="img-circle img-responsive img-center" src="../img/scale.jpg" alt="" style="height: 35%; width:35%">
                <h2>Eating Disorders</h2>         
                <ul class="b">
                  <li>Anorexia</li>
                  <li>Bulimia</li>
                  <li>Binge Eating Disorder</li>
                </ul>            
              </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center" src="../img/scope.jpg" alt="">
                <h2>Post Weight Loss Surgery</h2>
                 <ul class="b">
                  <li>Gastric Bypass</li>
                  <li>Gastic Sleeve</li>
                  <li>Gastric Lap Band</li>
                </ul>            
              </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="../img/flower.jpg" alt="" style="height: 80%; width: 80%">
                <h2>Wellness</h2>
                <ul class="b">
                  <li>Disease prevention and management</li>
                  <li>Non-diet approach to weight management</li>
                </ul>            
              </div>
        </div>
        <!-- /.row -->
          </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Shalini RD &copy; 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->