<!doctype html>
<html>
  <head>
    <!-- Load Global and Custom CSS HERE -->
        <!-- Bootstrap Core CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shalini RD provides comprehensive nutritional consulting in the Boston area. She specializes in eating disorders, post surgery and general wellness.">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/business-frontpage.css" rel="stylesheet">

    <title>Shalini RD - Nutrition Consulting, Boston MA</title>

  </head>

  <!-- Body of Application -->
  <body>
    <!-- Yield to your ERB templates. -->
    <%= yield %>
    <!-- Load Global and Custom JavaScript HERE -->
    <%= javascripts %>
  </body>
</html>
